<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="login-container">
      <div class="left-header">
        <a href="#" class="auth-text">AUTHENTICATION</a>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>

      <div class="right-header">
        <a href="/login" class="login-button">Log In</a>
        <a href="/register" class="register-button">Sign Up</a>
      </div>
    </div>

    <div class="content-home">
      <div class="left-content">
        <h1>Log In Authentication</h1>
        <h2>Log in to access your account. If you don’t have an account, please register to get started. Your credentials will be securely handled.</h2>
      </div>

      <div class="right-content">
        <img src="/images/laptop.jpg" alt="Laptop" />
      </div>
    </div>
  </body>
</html>
